a{
    width: 140px;
    background-color: lightblue;
    text-decoration: none;
    display: block;
    float: left;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    height: 30px;
}